{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'userdashboard' %}">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item nav-category">More</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-floor-plan"></i>
          <span class="menu-title">More</span>
          <i class="menu-arrow"></i> 
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'sendsingalemail' %}">Send Signal Email</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'sendmultipleemail' %}">Send Multiple Email</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'receivedemaildata' %}">Received Email Logs</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>